.search-panel {
    margin-top: 30px;
    padding: 25px;
    background: linear-gradient(358deg,rgb(243 231 125) 18%, rgb(13 108 183) 100%);
    border-radius: 4px;
    box-shadow: 6px 8px 35px rgb(38 130 203);
    color: #fff;
}