.add-form {
    margin-top: 20px;
    input {
        width: 350px;
        margin-right: 20px;
    }
}
.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background: linear-gradient(172deg, rgb(239 215 0) 0%, rgb(13 108 183) 100%);
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}
.hm{
    border: 2px solid red;
}